@page "/"

<h1>ECUSimGUI</h1>
<p>
    Welcome to arduino ECU simulator GUI frontend.
</p>
<p>
    This program is GUI frontend of ECUSim, Arduino Uno + MCP2515 CAN ECU simulator.
</p>
<p>
    To get Arduino sketch of the ECUSim, go <a href="https://github.com/sugiuraii/ECUSim">https://github.com/sugiuraii/ECUSim</a>
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
